body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
  color: #1f2937;
}

.invoice {
  width: 760px;
  margin: auto;
  background: white;
  padding: 36px;
  border-radius: 16px;
}

.header,
.info,
.summary {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo-box {
  background: #111827;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.muted {
  color: #9ca3af;
  font-size: 14px;
}

.badge {
  background: #e7f8ef;
  color: #059669;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 30px 0;
}

h4 {
  color: #9ca3af;
  font-size: 12px;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th {
  color: #9ca3af;
  font-size: 12px;
  text-align: left;
  padding: 14px;
}

td {
  padding: 18px 14px;
  border-top: 1px solid #e5e7eb;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.promotion {
  background: #ecfdf5;
  border: 1px solid #d1fae5;
  border-radius: 16px;
  padding: 18px;
  width: 430px;
}

.total-box {
  width: 230px;
  font-size: 16px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.green {
  color: #059669;
  font-weight: bold;
}

.final {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

button {
  margin: 20px auto;
  display: block;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: #111827;
  color: white;
  cursor: pointer;
}
